.button{
    background-color: #24cd85;
    color: #fff;
    border: none;
    border-radius: 7px;
    border-bottom: 3px solid #198c5b;
    font-weight: bold;
    font-size: 20px;
}
.button:active {
    background-color: #198c5b;
}