.signin_link a {
    color: purple;
    text-decoration: none;
    font-size: 22px;
}
.centered_element {
    background-color: #fff;
    width: fit-content;
    border-radius: 15px;
    margin-top: -5%;
}