.main_body {
    position: relative;
    background: linear-gradient(180deg, #d7cde2 200px, #ede9f2 30px);
    min-height: 100vh;
    padding: 80px 15px 15px;
}
.modal_parent {
    width: 100%;    
}
