.input_label {
    text-align: right;
    color: #7942ac;
    font-size: 18px;
}
.input_subLabel {
    text-align: right;
    color: #9e9c9c;
    font-size: 16px;
}
.tab_input {
    border: 1px solid #d9d9d9;
}
.tab_input:focus {
    outline: none;
    outline: 2px solid #24cd85;
}
.label_row {
    text-align: right;
}